@charset "ISO-8859-1";

#activites{
	height: 150px;
	font-weight: bold;
	overflow: auto;
}

.location {
	width: 200px;
}

.resetBtn {
	width: 75px;
	height: 40px;
	color: white;
}

.spaBtn {
	color: white;
}

.playAgain {
	width: 80px;
	height: 65px;
}